In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train = pd.read_csv('../input/titanic/train.csv')
test = pd.read_csv('../input/titanic/test.csv')

In [3]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
test.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [7]:
y = train.pop('Survived')

In [8]:
y.shape

(891,)

In [9]:
train['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [10]:
train['Age'] = train['Age'].fillna(train['Age'].mode()[0])

In [11]:
train['Age'].isna().sum()

0

In [12]:
train['Cabin']

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [13]:
#train['Cabin'] = train['Cabin'].fillna(train['Cabin'].mode()[0][0:3])
Cabin_NA_index = train[train['Cabin'].isna()].index
Cabin_NA_index = list(Cabin_NA_index)
cabin_table = pd.DataFrame(train['Cabin'])
for null_index in Cabin_NA_index:
           cabin_table.iloc[null_index] = train['Cabin'].mode()[np.random.randint(0, 3)][0:3]

In [14]:
train['Cabin'] = cabin_table
train['Cabin'].head()

0     C23
1     C85
2     B96
3    C123
4     C23
Name: Cabin, dtype: object

In [15]:
train['Cabin'].isna().sum()

0

In [16]:
train['Embarked'].head()

0    S
1    C
2    S
3    S
4    S
Name: Embarked, dtype: object

In [17]:
train['Embarked'] = train['Embarked'].fillna(train['Embarked'].mode()[0])

In [18]:
train['Embarked'].isna().sum()

0

In [19]:
train.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [20]:
train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,C23,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,B96,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,C23,S

In [21]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    object
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

In [22]:
train['Sex'] = train['Sex'].astype(str)

In [23]:
gender_dict = {'male':1, 'female':0}
train['Sex'] = train['Sex'].map(gender_dict)
train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,C23,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,B96,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,C23,S

In [24]:
test['Sex'] = test['Sex'].astype(str)
test['Sex'] = test['Sex'].map(gender_dict)

In [25]:
E_dict = {'S':1, 'Q':2, 'C':3}
train['Embarked'] = train['Embarked'].astype(str)
train['Embarked'] = train['Embarked'].map(E_dict)
train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,C23,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,3
2,3,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,B96,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,1
4,5,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,C23,1

In [26]:
test['Embarked'] = test['Embarked'].astype(str)
test['Embarked'] = test['Embarked'].map(E_dict)

In [27]:
PassengerId = test['PassengerId']

In [28]:
train['Name'] = train['Name'].astype(str)
test['Name'] = test['Name'].astype(str)

In [29]:
def change_name(name):
    name_list = name.split()
    for word in name_list:
        if word == 'Miss.'or word == 'Ms.':
            return 'Miss'
        elif word == 'Master.':
            return 'Master.'
        elif word == 'Mrs.':
            return 'Mrs.'
        elif word == 'Mr.':
            return 'Mr.'
        elif word == 'Dr.':
            return 'Dr.'
        elif word == 'Sir.':
            return 'Sir.'
        elif word == 'Major.':
            return 'Major.'
        elif word == 'Lady.':
            return 'Lady.'
        elif word == 'Rev.':
            return 'Rev.'
        elif word == 'Capt.':
            return 'Capt.'
        elif word == 'Col.':
            return 'Col.'
        elif word == 'Jonkheer.':
            return 'Jonkheer.'
        elif word == 'Mlle.':
            return 'Mlle.'
        elif word == 'Don.':
            return 'Don.'
        elif word == 'Countess.':
            return 'Countess'
        elif word == 'Mme.':
            return 'Mme.'
        elif word == 'Dona.':
            return 'Dona.'
    return name

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    int64
 4   Age          891 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        891 non-null    object
 10  Embarked     891 non-null    int64
dtypes: float64(2), int64(6), object(3)
memory usage: 76.7+ KB

In [31]:
train['Name'] = train['Name'].apply(change_name)
train['Name'].unique()

array(['Mr.', 'Mrs.', 'Miss', 'Master.', 'Don.', 'Rev.', 'Dr.', 'Mme.',
       'Major.', 'Lady.', 'Sir.', 'Mlle.', 'Col.', 'Capt.', 'Countess',
       'Jonkheer.'], dtype=object)

In [32]:
test['Name'] = test['Name'].apply(change_name)
test['Name'].unique()

array(['Mr.', 'Mrs.', 'Miss', 'Master.', 'Col.', 'Rev.', 'Dr.', 'Dona.'],
      dtype=object)

In [33]:
redundant_columns = ['Cabin', 'Ticket', 'PassengerId']
for column in redundant_columns:
    del train[column]
    del test[column]

train.head()

   Pclass  Name  Sex   Age  SibSp  Parch     Fare  Embarked
0       3   Mr.    1  22.0      1      0   7.2500         1
1       1  Mrs.    0  38.0      1      0  71.2833         3
2       3  Miss    0  26.0      0      0   7.9250         1
3       1  Mrs.    0  35.0      1      0  53.1000         1
4       3   Mr.    1  35.0      0      0   8.0500         1

In [34]:
Name_list = list(train['Name'].unique())
my_dict = dict()
for index, value in enumerate(Name_list):
    my_dict[index] = value
my_dict = {v: k for k, v in my_dict.items()}
my_dict['Dona.'] = 16
my_dict

{'Mr.': 0,
 'Mrs.': 1,
 'Miss': 2,
 'Master.': 3,
 'Don.': 4,
 'Rev.': 5,
 'Dr.': 6,
 'Mme.': 7,
 'Major.': 8,
 'Lady.': 9,
 'Sir.': 10,
 'Mlle.': 11,
 'Col.': 12,
 'Capt.': 13,
 'Countess': 14,
 'Jonkheer.': 15,
 'Dona.': 16}

In [35]:
train['Name'] = train['Name'].map(my_dict)

In [36]:
test['Name'] = test['Name'].map(my_dict)

In [37]:
train.head()

   Pclass  Name  Sex   Age  SibSp  Parch     Fare  Embarked
0       3     0    1  22.0      1      0   7.2500         1
1       1     1    0  38.0      1      0  71.2833         3
2       3     2    0  26.0      0      0   7.9250         1
3       1     1    0  35.0      1      0  53.1000         1
4       3     0    1  35.0      0      0   8.0500         1

In [38]:
test.head()

   Pclass  Name  Sex   Age  SibSp  Parch     Fare  Embarked
0       3     0    1  34.5      0      0   7.8292         2
1       3     1    0  47.0      1      0   7.0000         1
2       2     0    1  62.0      0      0   9.6875         2
3       3     0    1  27.0      0      0   8.6625         1
4       3     1    0  22.0      1      1  12.2875         1

In [39]:
train.shape

(891, 8)

In [40]:
test.shape

(418, 8)

In [41]:
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split 
from keras.models import Sequential
from keras.layers import Dense

In [42]:
x_train, x_test, y_train, y_test = train_test_split(train, y, test_size = 0.3)

In [43]:
x_train.shape

(623, 8)

In [44]:
model = Sequential()
model.add(Dense(6, activation='relu', input_dim=8))
model.add(Dense(6, activation='relu'))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

2022-07-24 13:00:35.626411: I tensorflow/core/common_runtime/process_util.cc:146] Creating new thread pool with default inter op setting: 2. Tune using inter_op_parallelism_threads for best performance.

In [45]:
model.compile(optimizer='adam', loss=tf.keras.losses.BinaryCrossentropy(), metrics = 'accuracy')

In [46]:
model.fit(x_train, y_train, epochs=22,batch_size=32, validation_split=0.2)

2022-07-24 13:00:36.398416: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/22
16/16 [==============================] - 1s 19ms/step - loss: 0.6457 - accuracy: 0.6084 - val_loss: 0.6363 - val_accuracy: 0.6400
Epoch 2/22
16/16 [==============================] - 0s 4ms/step - loss: 0.6286 - accuracy: 0.6265 - val_loss: 0.6309 - val_accuracy: 0.6080
Epoch 3/22
16/16 [==============================] - 0s 4ms/step - loss: 0.6167 - accuracy: 0.6345 - val_loss: 0.6282 - val_accuracy: 0.6000
Epoch 4/22
16/16 [==============================] - 0s 5ms/step - loss: 0.6075 - accuracy: 0.6466 - val_loss: 0.6222 - val_accuracy: 0.6240
Epoch 5/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5977 - accuracy: 0.6707 - val_loss: 0.6260 - val_accuracy: 0.5840
Epoch 6/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5921 - accuracy: 0.6807 - val_loss: 0.6318 - val_accuracy: 0.6080
Epoch 7/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5894 - accuracy: 0.6888 - val_loss: 0.6314 - val_accuracy: 0.6080
Epoch 8/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5884 - accuracy: 0.6807 - val_loss: 0.6303 - val_accuracy: 0.6160
Epoch 9/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5869 - accuracy: 0.6948 - val_loss: 0.6296 - val_accuracy: 0.6080
Epoch 10/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5845 - accuracy: 0.6888 - val_loss: 0.6288 - val_accuracy: 0.6160
Epoch 11/22
16/16 [==============================] - 0s 5ms/step - loss: 0.5843 - accuracy: 0.6888 - val_loss: 0.6234 - val_accuracy: 0.6160
Epoch 12/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5813 - accuracy: 0.6888 - val_loss: 0.6244 - val_accuracy: 0.6240
Epoch 13/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5813 - accuracy: 0.6908 - val_loss: 0.6228 - val_accuracy: 0.6240
Epoch 14/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5787 - accuracy: 0.6968 - val_loss: 0.6218 - val_accuracy: 0.6240
Epoch 15/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5772 - accuracy: 0.6968 - val_loss: 0.6168 - val_accuracy: 0.6240
Epoch 16/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5764 - accuracy: 0.6968 - val_loss: 0.6152 - val_accuracy: 0.6240
Epoch 17/22
16/16 [==============================] - 0s 5ms/step - loss: 0.5730 - accuracy: 0.6968 - val_loss: 0.6162 - val_accuracy: 0.6240
Epoch 18/22
16/16 [==============================] - 0s 5ms/step - loss: 0.5719 - accuracy: 0.6928 - val_loss: 0.6141 - val_accuracy: 0.6240
Epoch 19/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5705 - accuracy: 0.6968 - val_loss: 0.6121 - val_accuracy: 0.6160
Epoch 20/22
16/16 [==============================] - 0s 4ms/step - loss: 0.5694 - accuracy: 0.7088 - val_loss: 0.6115 - val_accuracy: 0.6320
Epoch 21/22
16/16 [==============================] - 0s 5ms/step - loss: 0.5675 - accuracy: 0.7028 - val_loss: 0.6059 - val_accuracy: 0.6400
Epoch 22/22
16/16 [==============================] - 0s 5ms/step - loss: 0.5637 - accuracy: 0.7048 - val_loss: 0.6065 - val_accuracy: 0.6400

In [47]:
prediction = model.predict(x_test)
model.evaluate(x_test, y_test, verbose=0)

[0.5568547248840332, 0.7238805890083313]

In [48]:
my_predict = np.array([])
for val in prediction:
    if val<0.5:
        my_predict = np.append(my_predict, 0)
    else:my_predict = np.append(my_predict, 1)

In [49]:
my_predict

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0.,
       1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0.,
       1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 0., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 1., 1., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1.])

In [50]:
predict = model.predict(test)
predict

array([[0.1210908 ],
       [0.1274083 ],
       [0.05052397],
       [0.21137896],
       [0.39972568],
       [0.33486253],
       [0.22990808],
       [0.50376654],
       [0.24645826],
       [0.49245328],
       [0.491417  ],
       [0.3803924 ],
       [0.6780623 ],
       [0.23975953],
       [0.720535  ],
       [0.49677715],
       [0.18778294],
       [0.17101267],
       [0.3149519 ],
       [0.08855686],
       [0.56670994],
       [0.34040695],
       [0.491417  ],
       [0.6156517 ],
       [0.8520639 ],
       [0.14472938],
       [0.6845671 ],
       [0.16089559],
       [0.44977796],
       [0.491417  ],
       [0.35631737],
       [0.55690014],
       [0.41324028],
       [0.491417  ],
       [0.66901714],
       [0.18852383],
       [0.491417  ],
       [0.38816547],
       [0.24108341],
       [0.491417  ],
       [0.11805683],
       [0.491417  ],
       [0.11669108],
       [0.3788575 ],
       [0.666985  ],
       [0.21467441],
       [0.35484248],
       [0.491417  ],
       [0.7094597 ],
       [0.30723   ],
       [0.6278934 ],
       [0.2481856 ],
       [0.5514194 ],
       [0.75540227],
       [0.491417  ],
       [0.48792326],
       [0.14807615],
       [0.2113212 ],
       [0.491417  ],
       [0.8429716 ],
       [0.28850687],
       [0.27496916],
       [0.27573836],
       [0.30160105],
       [0.6691567 ],
       [0.491417  ],
       [0.3437547 ],
       [0.52300465],
       [0.42393023],
       [0.8860636 ],
       [0.28347233],
       [0.24868694],
       [0.2920637 ],
       [0.43045455],
       [0.8231589 ],
       [0.7669633 ],
       [0.491417  ],
       [0.38434914],
       [0.28348404],
       [0.28347233],
       [0.457526  ],
       [0.8958712 ],
       [0.36364394],
       [0.491417  ],
       [0.491417  ],
       [0.491417  ],
       [0.2592286 ],
       [0.4063523 ],
       [0.491417  ],
       [0.4897162 ],
       [0.44262922],
       [0.491417  ],
       [0.6685916 ],
       [0.491417  ],
       [0.43434593],
       [0.21294567],
       [0.7176394 ],
       [0.18588412],
       [0.38057065],
       [0.16177765],
       [0.6391283 ],
       [0.48660767],
       [0.491417  ],
       [0.20484486],
       [0.2694843 ],
       [0.4340158 ],
       [0.21003932],
       [0.491417  ],
       [0.491417  ],
       [0.3960422 ],
       [0.15089628],
       [0.491417  ],
       [0.48225805],
       [0.32644403],
       [0.903419  ],
       [0.29707217],
       [0.491417  ],
       [0.48883954],
       [0.7294197 ],
       [0.52147603],
       [0.5312504 ],
       [0.491417  ],
       [0.6945773 ],
       [0.18394127],
       [0.491417  ],
       [0.48345804],
       [0.23847923],
       [0.491417  ],
       [0.18736011],
       [0.22442695],
       [0.16797328],
       [0.46572813],
       [0.491417  ],
       [0.491417  ],
       [0.10815009],
       [0.22190043],
       [0.1362789 ],
       [0.32076627],
       [0.35355395],
       [0.49584267],
       [0.49238586],
       [0.792023  ],
       [0.8735732 ],
       [0.47386643],
       [0.40806472],
       [0.3629022 ],
       [0.491417  ],
       [0.24157026],
       [0.491417  ],
       [0.52752197],
       [0.6857449 ],
       [0.491417  ],
       [0.491417  ],
       [0.23728767],
       [0.48917562],
       [0.21841887],
       [0.79821754],
       [0.34929723],
       [0.40806475],
       [0.3620476 ],
       [0.491417  ],
       [0.43651694],
       [0.43171468],
       [0.491417  ],
       [0.34357464],
       [0.47936732],
       [0.5208303 ],
       [0.48898628],
       [0.491417  ],
       [0.3842811 ],
       [0.491417  ],
       [0.13343558],
       [0.3478368 ],
       [0.491417  ],
       [0.3840263 ],
       [0.5932361 ],
       [0.6488118 ],
       [0.5384818 ],
       [0.5462498 ],
       [0.7173834 ],
       [0.28348404],
       [0.7150284 ],
       [0.6300537 ],
       [0.491417  ],
       [0.7670637 ],
       [0.25140977],
       [0.51429063],
       [0.35474795],
       [0.491417  ],
       [0.20145035],
       [0.44785398],
       [0.491417  ],
       [0.45990285],
       [0.06695038],
       [0.5118631 ],
       [0.15926105],
       [0.58839905],
       [0.40018865],
       [0.2991814 ],
       [0.491417  ],
       [0.491417  ],
       [0.4818349 ],
       [0.9195783 ],
       [0.5303489 ],
       [0.28076005],
       [0.491417  ],
       [0.19429922],
       [0.28993624],
       [0.4635143 ],
       [0.21420527],
       [0.41071874],
       [0.491417  ],
       [0.58275557],
       [0.33967698],
       [0.19060487],
       [0.55041796],
       [0.491417  ],
       [0.8433713 ],
       [0.85701275],
       [0.491417  ],
       [0.32309532],
       [0.2506125 ],
       [0.40742278],
       [0.24744347],
       [0.33343634],
       [0.491417  ],
       [0.2297405 ],
       [0.491417  ],
       [0.21246609],
       [0.23196486],
       [0.5564188 ],
       [0.585106  ],
       [0.25285655],
       [0.491417  ],
       [0.7309617 ],
       [0.25737464],
       [0.6499909 ],
       [0.17803386],
       [0.46914956],
       [0.8241935 ],
       [0.3250987 ],
       [0.43057573],
       [0.7807806 ],
       [0.491417  ],
       [0.491417  ],
       [0.63970613],
       [0.50865203],
       [0.44725448],
       [0.52147603],
       [0.491417  ],
       [0.49060568],
       [0.25827777],
       [0.68801475],
       [0.24630088],
       [0.18478543],
       [0.491417  ],
       [0.491417  ],
       [0.1946528 ],
       [0.4685001 ],
       [0.24718538],
       [0.29020253],
       [0.24816915],
       [0.46072358],
       [0.48807555],
       [0.18947968],
       [0.491417  ],
       [0.491417  ],
       [0.491417  ],
       [0.491417  ],
       [0.29762965],
       [0.7258564 ],
       [0.491417  ],
       [0.7237325 ],
       [0.491417  ],
       [0.491417  ],
       [0.5829662 ],
       [0.25432107],
       [0.4127497 ],
       [0.42572588],
       [0.3084566 ],
       [0.3670177 ],
       [0.48400444],
       [0.491417  ],
       [0.41312706],
       [0.49019316],
       [0.13512683],
       [0.491417  ],
       [0.6393825 ],
       [0.491417  ],
       [0.491417  ],
       [0.491417  ],
       [0.21863928],
       [0.491417  ],
       [0.8361178 ],
       [0.16222584],
       [0.20672807],
       [0.4893312 ],
       [0.491417  ],
       [0.63681257],
       [0.18486425],
       [0.16433924],
       [0.491417  ],
       [0.29800326],
       [0.23475921],
       [0.491417  ],
       [0.3161786 ],
       [0.6920997 ],
       [0.48460424],
       [0.8124257 ],
       [0.23938334],
       [0.2863509 ],
       [0.16421312],
       [0.491417  ],
       [0.18059596],
       [0.8685868 ],
       [0.3506186 ],
       [0.84528816],
       [0.33720353],
       [0.19881278],
       [0.56081444],
       [0.20484486],
       [0.1451506 ],
       [0.32076627],
       [0.46081194],
       [0.8385099 ],
       [0.22106102],
       [0.5478494 ],
       [0.7519947 ],
       [0.4759381 ],
       [0.3702198 ],
       [0.47483563],
       [0.388278  ],
       [0.491417  ],
       [0.38749546],
       [0.1994457 ],
       [0.47343686],
       [0.26556417],
       [0.06566417],
       [0.53689915],
       [0.491417  ],
       [0.3470706 ],
       [0.16179052],
       [0.491417  ],
       [0.9408939 ],
       [0.491417  ],
       [0.41859138],
       [0.32076627],
       [0.11753556],
       [0.35067838],
       [0.4710488 ],
       [0.67147064],
       [0.28076002],
       [0.5899154 ],
       [0.6684403 ],
       [0.4856196 ],
       [0.35810477],
       [0.5958624 ],
       [0.491417  ],
       [0.491417  ],
       [0.41088432],
       [0.491619  ],
       [0.562079  ],
       [0.45660233],
       [0.21137896],
       [0.6797726 ],
       [0.491417  ],
       [0.491417  ],
       [0.64451027],
       [0.64089847],
       [0.21327424],
       [0.34238094],
       [0.7770672 ],
       [0.05192414],
       [0.17404059],
       [0.8100736 ],
       [0.8750301 ],
       [0.38617742],
       [0.33838794],
       [0.54523486],
       [0.48310232],
       [0.491417  ],
       [0.17300135],
       [0.491417  ],
       [0.47989807],
       [0.491417  ],
       [0.6522402 ],
       [0.22099018],
       [0.10505569],
       [0.2092573 ],
       [0.4866493 ],
       [0.65476924],
       [0.50442356],
       [0.47894457],
       [0.12667134],
       [0.43300238],
       [0.6336216 ],
       [0.18109232],
       [0.77259433],
       [0.23822746],
       [0.13968146],
       [0.7821439 ],
       [0.37402782],
       [0.6833278 ],
       [0.58899397],
       [0.3561232 ],
       [0.28694487],
       [0.3029645 ],
       [0.83047265],
       [0.491417  ],
       [0.48986357],
       [0.491417  ],
       [0.76487076],
       [0.29845023],
       [0.491417  ],
       [0.918628  ],
       [0.12251016],
       [0.491417  ],
       [0.491417  ]], dtype=float32)

In [51]:
survival_predict = np.array([])

In [52]:
for val in predict:
    if val<0.5:
        survival_predict=np.append(survival_predict, 0)
    else: survival_predict=np.append(survival_predict, 1)

survival_predict

array([0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 0.,
       1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 1.,
       0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 1.,
       0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1.,
       1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 1., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0.,
       0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       1., 0., 1., 0., 0., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 0.,
       0., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 1., 1., 0., 0., 1., 0., 0.,
       1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
       1., 0., 0., 0., 1., 0., 1., 0., 0., 1., 0., 1., 1., 0., 0., 0., 1.,
       0., 0., 0., 1., 0., 0., 1., 0., 0., 0.])

In [53]:
survival_predict.shape

(418,)

In [54]:
PassengerId.shape

(418,)

In [55]:
submission_dict = {'PassengerId':PassengerId, 'Survived':survival_predict}
submission_df = pd.DataFrame(submission_dict)
submission_df.head()

   PassengerId  Survived
0          892       0.0
1          893       0.0
2          894       0.0
3          895       0.0
4          896       0.0

In [56]:
submission_df.to_csv('submission.csv', index=False)

In [57]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, my_predict)

0.7238805970149254